SUPABASE_PROJECT_ID=cuwrhiccbgococpfqvtr
SUPABASE_PUBLISHABLE_KEY=sb_publishable_4sg-VdbZsBJjzgvyL5v5ww_mUGCDeWr
SUPABASE_URL=https://cuwrhiccbgococpfqvtr.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_PROJECT_ID=cuwrhiccbgococpfqvtr
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_4sg-VdbZsBJjzgvyL5v5ww_mUGCDeWr
VITE_SUPABASE_URL=https://cuwrhiccbgococpfqvtr.supabase.co
LOVABLE_CRON_SECRET=
LOVABLE_CRON_SECRET_PREVIOUS=
LOVABLE_DB_MIGRATION_URL=
